<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}FIXIT{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/base.css')}}">
        <link rel="stylesheet" href="{{ asset('css/vendor.css')}}">
        <link rel="stylesheet" href="{{ asset('css/main.css')}}">

        <script src="{{ asset('js/modernizr.js') }}"></script>

        <link rel="shortcut icon" href="{{ asset('favicon.ico')}}" type="image/x-icon">
        <link rel="icon" href="{{ asset('favicon.ico')}}" type="image/x-icon">
    </head>

    <header class="s-header header" style="margin-left: -30px;position:fixed;z-index:997;letter-spacing: 3px;">
        <div class="header__logo">
            <a class="logo" href="{{ path('homepage') }}">
                <img src="{{ asset('images/fixit1.jpg')}}"  alt="Homepage" id="homepage"    >
                <style type="text/css">
                #homepage{
                    width: 280px;
                    height: 60px;
                    padding-right: 70px;



                }

                </style>

            </a>
        </div>
        <a class="header__search-trigger" href="#0"></a>
        <div class="header__search">
            <form role="search" method="get" class="header__search-form" action="#">
                <label>
                    <span class="hide-content">Search for:</span>
                    <input type="search" class="search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
                </label>
                <input type="submit" class="search-submit" value="Search">
            </form>
            <a href="#0" title="Close Search" class="header__overlay-close">Close</a>
        </div>
        <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>
        <nav class="header__nav-wrap">
            <h2 class="header__nav-heading h6">Navigate to</h2>
            <ul class="header__nav">


                <li><a href="style-guide.html" title="">Actualité</a></li>

                <li class="has-children">

                    <a href="#0" title="">Services</a>
                    <ul class="sub-menu">
                        <li><a href="category.html">Lifestyle</a></li>
                        <li><a href="category.html">Health</a></li>
                        <li><a href="category.html">Family</a></li>
                        <li><a href="category.html">Management</a></li>
                        <li><a href="category.html">Travel</a></li>
                        <li><a href="category.html">Work</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <a href="#0" title="">Forum</a>
                    <ul class="sub-menu">
                        <li><a href="single-video.html">Video Post</a></li>
                        <li><a href="single-audio.html">Audio Post</a></li>
                        <li><a href="{{path('forumm')  }}">Standard Post</a></li>
                    </ul>
                </li>
                <li><a href="style-guide.html" title="">Espace entreprise</a></li>
                <li><a href="{{path('ap')  }}" title="">à propos</a></li>
                <li><a href="{{path('contacter')  }}" title="contact">Contact</a>  </li>
                {#f warka#}    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li><a href="{{ path('fos_user_security_login') }}" title="">se connecter</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}" title="">s'inscrire</a></li>

                    {% else %}
                        <li><a href="{{ path('fos_user_security_logout') }}" title="">se deconnecter</a></li>
                {% endif %}


            </ul>
            <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>
        </nav>
    </header>
    {% block body %}
        <body id="top">
        <div id="preloader">
            <div id="loader" class="dots-fade">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div></body>{% endblock %}
{% block footer %}
        <footer class="s-footer">
            <div class="s-footer__main">
                <div class="row">
                    <div class="col-six tab-full s-footer__about">
                        <h4>à propos de Fix it</h4>
                        <p>*******************************************************</p>
                    </div>
                    <div class="col-six tab-full s-footer__subscribe">
                        <h4>Our Newsletter</h4>
                        <p>
                            Apprenez quelque chose de nouveau chaque mois:</p>
                        <div class="subscribe-form">
                            <form id="mc-form" class="group" novalidate="true">
                                <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">
                                <input type="submit" name="subscribe" value="Send">
                                <label for="mc-email" class="subscribe-message"></label>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="s-footer__bottom">
                <div class="row">
                    <div class="col-six">
                        <ul class="footer-social">
                            <li>
                                <a href="#0"><i class="fab fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#0"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#0"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#0"><i class="fab fa-youtube"></i></a>
                            </li>
                            <li>
                                <a href="#0"><i class="fab fa-pinterest"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-six">
                        <div class="s-footer__copyright">
<span>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | LogicQuery

</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"></a>
            </div>
        </footer>
{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.2.1.min.js')}}"></script>
            <script src="{{ asset('js/plugins.js')}}"></script>
            <script src="{{ asset('js/main.js')}}"></script>

            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'UA-23581568-13');
            </script>
        {% endblock %}

</html>
